<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vote For Venue</title>
  
  <link rel="stylesheet" href="../styles/Vote-theme.css">
  <link rel="stylesheet" href="../styles/main.css">

</head>

<body ng-cloak ng-controller="mainCtrl">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="glyphicon glyphicon-chevron-down"></span>              
          </button>

          <a href="#"><img src="../images/venueGreen48.png"></a> 

          <a class="navbar-brand" href="#">              
            <a class="btn btn-primary hidden-sm hidden-md"><strong>Vote For Venue</strong></a>
          </a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">   

          <ul class="nav navbar-nav">
            <li>
              <form class="navbar-form navbar-left">
                <input type="text" class="form-control btn-lg" placeholder="My Venue's name">
              </form>
            </li>
            
            <li>
              <form class="navbar-form navbar-left">
                <button class="form-control">                  
                  <span class="glyphicon glyphicon-picture"></span>
                  <strong class="hidden-lg hidden-md hidden-sm">Upload Image</strong>
                </button>
              </form>
            </li>

            <li>
              <form class="navbar-form navbar-left">
                <button class="form-control">
                  <span class="glyphicon glyphicon-calendar"></span>
                  <strong class="hidden-sm">Event Date</strong>
                </button>
              </form>
            </li>

          
            <li>
              <form class="navbar-form navbar-left">
                <button class="form-control">
                  <span class="glyphicon glyphicon-time"></span>
                  <strong class="hidden-sm">Voting ends On</strong> 
                </button>
              </form>
            </li>

            <li>
              <form class="navbar-form">  
                <button class="form-control">
                  <img src="../images/venueInv32.png"/>
                  <strong class="hidden-md hidden-sm">Invite friends</strong> 
                </button>
              </form>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form navbar-left" >  
                <button type="submit" class="form-control btn-success" style="margin-right: 45px;">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  <span class="hidden-sm">Create Event</span>                  
                </button>
              </form>
            </li>
          </ul>            
        </div>
    </div>

    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>

    
    <div class="eventTitle">
      <div class="row">        
      </div>
    </div>

    <div class="row">        
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-10" ng-repeat="ev in events">
        <div class="bs-component">
          <div class="modal">
            <div class="modal-sm">              
              <div class="modal-content" ng-click="redirectRoute('./venue')">
                <div class="modal-header">
                  <div class="row modal-title">
                    <span class="col-lg-4 col-md-4 col-sm-3 hidden-xs"><img src="../images/venueBlue64.png"></img></span>
                    <span class="col-lg-8 col-md-8 col-sm-9"><h2 class="modal-title">[{ev.title}]</h2></span>
                  </div>
                </div>
                <div class="modal-body">
                  <div><strong>Date: </strong><span ng-bind="ev.eventDate"></span></div>
                  <div><strong>Place: </strong><span>[{ev.votingEndsOn}]</span></div>
                  <div><strong>Invited: </strong>
                    <span>Ewerton</span>
                    <span>Ram</span>
                    <span>Pradeep</span>
                  </div>
                </div>
                <!--<div class="modal-footer">                      
                   <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Vote
                  </button>
                </div>
                 -->
              </div>              
            </div>            
          </div>   
        </div>
      </div>        
    </div>    
    
    <hr/>
    <div class="container">
      <p>@@VoteForVenue</p>
      <p>Text placeholders courtesy of <a href="./">Vote For Venue</a>.</p>

    </div>

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script src="/vendor/angular/angular.js"></script>
  <script src="/vendor/angular-resource/angular-resource.js"></script>
  <script src="/scripts/app.js"></script> 

</body>
</html>