
<div>
    <div>
        <div id="subNavbar" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>

                <a href="#" id="userPic"><img src="/img/venueBlue48.png"></a>

                <a href="#" id="userName" class="btn btn-primary hidden-md hidden-sm"><strong>Hi foreigner</strong></a>

            </div>

            <div class="navbar-collapse collapse navbar-responsive-collapse">

                <ul class="nav navbar-nav">
                    <li>
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control" placeholder="Venue Name" ng-model="plcCtrl.placeObj.name" required>
                        </form>
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control btn-xs" placeholder="Location" ng-model="plcCtrl.placeObj.location" required>
                        </form>
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control btn-xs" placeholder="Map url" ng-model="plcCtrl.placeObj.mapUrl" required>
                        </form>
                    </li>
                    <!--<li>
                        <form class="navbar-form navbar-left">
                            <button class="form-control">
                                <span class="glyphicon glyphicon-search"></span>
                                <strong class="hidden-sm hidden-md">Search</strong>
                            </button>
                        </form>
                    </li>-->

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left">
                            <button ng-click="plcCtrl.addPlace(plcCtrl.placeObj)" class="form-control btn-success" style="margin-right: 45px;">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="hidden-sm">Create Venue</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <!--<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt; </div>-->

        <div id="subBody" class="disabled">

            <div class="eventTitle">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-1"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 panelDescription">
                        <div class="btn btn-group-justified" ui-sref="index">
                            <span class="glyphicon glyphicon-arrow-left"></span> &nbsp;&nbsp;&nbsp;
                            <span style="font-size: 18px; font-weight:700;">{{plcCtrl.eventName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-1"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12" ng-repeat="place in plcCtrl.places">
                    <div class="bs-component">
                        <div class="modal">
                            <div class="modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                        <div class="row modal-title">
                                            <span class="col-lg-3 col-md-3 col-sm-3 hidden-xs"><img src="/img/venueSeo64.png"></a></span>
                                            <span class="col-lg-9 col-md-9 col-sm-9"><h2 class="modal-title">{{place.name}}</h2></span>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 pull-left">
                                                <strong>Location: </strong><span ng-bind="place.location"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 pull-left">
                                                <strong>Map: </strong><a href="{{place.mapUrl}}">{{place.mapUrl}}</a>
                                            </div>
                                        </div>

                                        <div class="row">&nbsp;</div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6">
                                                <div class="btn btn-primary pull-left" ng-show="place.quantityOfVotes >= 0 ">
                                                    <span class="badge">{{place.quantityOfVotes}}</span>
                                                </div>
                                                <div ng-hide="place.hasVoteResponse">
                                                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6">
                                                <span type="button" class="btn btn-success pull-right" ng-click="plcCtrl.vote(place)" ng-hide="place.disabled || place.isTheUserVote">
                                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                                    Vote
                                                </span>
                                                <span type="button" class="btn btn-danger pull-right" ng-show="place.disabled || place.isTheUserVote">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                    &nbsp;Voted
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var subBody = $('#subBody');
            subBody.fadeIn(1500);

            setTimeout(function () { face.getUserStatus(); }, 1000);
        });
    </script>

</div>