body{
    background-color: lightgoldenrodyellow;
}

.eventOverview {
    list-style-type:none;
    float:left;
}


.navbar .container {
	margin-top: 10px;
}

.navbar .navbar-brand img {
	margin-top: -21px;
}
.bs-component 
{	
	position: relative;
	display: inline-block;
	min-height: 320px;
	min-width: 320px;
}

.bs-component .modal {
	display: inline-block;
	padding: 	15px;
	min-height: 310px;
	min-width: 330px;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 3;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}

.bs-component .modal:hover {
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
    transform: scale(1.04);   		
	-ms-transform: scale(1.04);

}

.bs-component .modal-sm
{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bs-component .modal .modal-sm:active, 
.bs-component .modal .modal-sm:hover,
.bs-component .modal .modal-sm:focus
{
    -webkit-box-shadow: 0 0 15px #3D4DDB;
    box-shadow: 0 0 15px #3D4DDB;
}


.bs-component .modal-content	
{
	border: 0px;
}

.navbar-form {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 5px;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-form .form-control img
{	
	margin-top: -5px;
}

.nav-form .marginRight
{
	margin-right: 20px;
}