body {
	/*background-color: lightgoldenrodyellow;*/
}

.eventOverview {
	list-style-type:none;
	float:left;
}


.navbar {	
	min-height: 55px;
}

.navbar-default 
{
	border-color: none;
}

.eventTitle {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 100;
	min-width: 150px;	
	margin-top: 55px;
}
.eventTitle .panelDescription {
	color: #fff;
	min-height: 30px;
	background-color: #dd4814;
	-webkit-border-radius: 0 0 40px 40px ;
	-moz-border-radius: 0 0 40px 40px;
	border-radius: 0 0 40px 40px;
}

.navbar .navbar-brand img {
	margin-top: -21px;
}

.bs-component 
{	
	width: 100%;
	position: relative;
	display: inline-block;
	min-height: 280px;
	min-width: 320px;
}

.bs-component .badge
{
	font-size: 16px;
}

.navbar-default {
	background-color: #dd4814;
	border-color: #bf3e11;
}

/******
** Badge Modal
*/
.bs-component .modal {
	width: 100%;
	display: inline-block;
	padding: 	15px;
	min-height: 260px;
	min-width: 330px;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 3;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}
.bs-component .modal:hover {
	z-index: 5;
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	transform: scale(1.04);   		
	-ms-transform: scale(1.04);
}

.bs-component .modal-sm
{
	width: 100%;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bs-component .modal .modal-sm:active, 
.bs-component .modal .modal-sm:hover,
.bs-component .modal .modal-sm:focus
{
	-webkit-box-shadow: 0 0 15px #3D4DDB;
	box-shadow: 0 0 15px #3D4DDB;
}

.bs-component .modal-content	
{
	border: 0px;
	cursor: pointer;
}

.navbar-form {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 5px;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-form .form-control img
{	
	margin-top: -5px;
}

.nav-form .marginRight
{
	margin-right: 20px;
}

/** UI angular */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.ng-valid-date { top: 30px; }


/** Bootstrap UI datepicker */
.dropdown-menu {
	position: fixed;
	z-index: 999;
}


/******************
  *** Toaster
*/
#toast-container > div {  
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
}

/******
** Badge Modal
*/
.modal-content {
    z-index: 1050;
}
.modal-dialog {
    z-index: 1045;
}
.modal-backdrop {
    z-index: 1040;
}
.modal {
    z-index: 1035;
}